<nav class="navbar navbar-expand-lg px-2" style="color: #F6F5F8">
    <div class="collapse navbar-collapse" id="navbar-text" *ngIf="route.startsWith('memberarea')">
        <ul class="navbar-nav mr-auto p-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Lista de Livros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ranking</a>
            </li>
            
        </ul>
        <span style="margin-left:auto; margin-right: 0.5rem" class="d-flex align-items-center">
            <p style="margin: 0px;margin-right: 2em">Bem vindo {{userName}}!</p>
            <a href="#" style="margin: 0px;margin-right: 2em">Meu Status</a>
            <a (click)="logout()">Logout</a>
        </span>
    </div>
</nav>