li {
    list-style-type: none;
    padding: 1rem;
}

ul {
    height: 3rem;
}

.selected {
    background: rgb(3, 181, 170);
    background: linear-gradient(3deg, rgba(3, 181, 170, 0.67) 0%, rgba(3, 181, 170, 0.42) 30%, rgba(3, 181, 170, 0) 85%);
}